body {
    font-family: 'Krub';
    background-image: url("Images/healthyFoods.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: repeat-y;
    position: relative;
    height: 1000px;
    background-color: rgba(255, 255, 255, 0.91);
    background-blend-mode: lighten;
}

h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

h2 {
    margin: 25px;
}

h4 {
    width: 250px;
}

p {
    margin-bottom: 0;
}

table {
    border: 1px solid black;
    width: 250px;
}

tr {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

td {
    padding-left: 5px;
    padding-right: 5px;
}

footer, #bottomInfo {
    text-align: right;
    margin-right: 2%;
}

b {
    font-size: 20px;
}

.intro {
    text-align: center;
}

.rightalign {
    text-align: right;
}

.p-flex {
    margin: 25px;
}

.tab {
    padding-left: 20px;
}

.underline {
    text-decoration: underline;
}

#nutritionResults {
    margin-left: 3%
}

#bottomInfo {
    margin-top: 50px;
}